.servers__table {
  width: $servers-table-width;
  margin: $servers-table-margin;
  background-color: $color-white;
  border-radius: 10px;
  overflow: hidden;

  @media screen and (max-width: $breakpoint-small) {
    width: $servers-table-width-sm;
    margin: $servers-table-margin;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    height: 60px;
    background-color: $color-purple;

    th {
      color: $color-white;
      font-weight: $font-medium-weight;
    }
  }

  tr {
    text-align: center;
    color: $color-darkest-gray;
    height: 45px;
    font-weight: $font-medium-weight;
  }

  td {
    width: 50%;
  }
}

.servers__header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.servers__sort-icon {
  margin-left: 10px;
}
