@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto";
  overflow: auto;
}

.container {
  background-image: url(../assets/background-nasa-unsplash.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}
