$color-purple: #6425e1;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #d0d1d3;
$color-dark-gray: #8a8c91;
$color-darkest-gray: #383c43;
$color-error: #f44136;

$form-item-width: 506px;
$form-item-height: 50px;

$form-item-width-sm: 282px;

$breakpoint-small: 768px;

$font-size: 16px;
$font-medium-weight: 500;
$font-normal-weight: 400;

$servers-table-width: 558px;
$servers-table-margin: 200px 0px;

$servers-table-width-sm: 330px;
$servers-table-margin-sm: 56px 0px;
